/* data-theme variables definition is a modified code from: https://picocss.com/docs/customization.html */

/* Purple Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #bc77f5;
  --primary-hover: #b470eb;
  --primary-focus: rgba(142, 36, 170, 0.125);
  --primary-inverse: #FFF;
}

/* Purple Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #bc77f5;
    --primary-hover: #c988ff;
    --primary-focus: rgba(142, 36, 170, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #bc77f5;
  --primary-hover: #c988ff;
  --primary-focus: rgba(142, 36, 170, 0.25);
  --primary-inverse: #FFF;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --form-element-spacing-vertical: 0.3rem;
  --form-element-spacing-horizontal: 0.7rem;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
